# dependencies
**/node_modules/

# Next.js
**/.next/
**/out/

# TypeScript generated
**/next-env.d.ts
*.tsbuildinfo

# Python
**/__pycache__/
**/*.py[cod]
**/.venv/
**/.pytest_cache/
**/.ruff_cache/

# environment
**/.env*
!**/.env.example

# production
/build

# Vercel
.vercel/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
